﻿@{ /**/

    var curController = Convert.ToString(ViewContext.RouteData.Values["Controller"]);
    var curAction = Convert.ToString(ViewContext.RouteData.Values["Action"]); 
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Metatags -->
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name=description content="">
    <meta name=keywords content="">
    <meta name=author content="">
    <title>@ViewBag.Title :: Beauty Book Vendor</title>

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/assets/images/favicons/favicon-16x16.png">
    @*<link rel="manifest" href="~/Content/assets/images/favicons/site.webmanifest">*@
    <link rel="mask-icon" href="~/Content/assets/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
    <meta name="msapplication-TileColor" content="#e94a1f">
    <meta name="theme-color" content="#ffffff">
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">

    <!-- Font Stylesheet -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Main Stylesheet -->
    <link href="~/Content/assets/css/main.min.css" rel=stylesheet>
    <style>
        .pac-container {
            z-index: 10000 !important;
        }

        .active-light {
            color: #11151e !important;
            text-decoration: none !important;
            background-color: #f8f9fa !important;
        }

        .table-card thead tr th {
            background-color: #f8f9fa;
            border-color: #dee2e6;
            font-size: 12px;
            line-height: 1.2;
            letter-spacing: 0.1em;
            color: #6c757d;
            text-transform: uppercase;
            font-weight: 700;
        }
    </style>
</head>
<body>

    <div class="app-root">
        <div class="app-wrapper">
            <header>
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark-primary w-100">
                    <div class="container-fluid">
                        <a class="h5 font-weight-medium d-flex align-items-center pr-3 mb-0 beauty-book-logo" href="@Url.Action("Index","Home")">
                            <img src="~/Content/assets/images/logo-white.png" alt="" class="mr-3" height="30">
                        </a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">

                            <div id="YEPmenu">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link" id="dashboardId" href="@Url.Action("Index","Home")">Dashboard</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="ProductsId" href="@Url.Action("ManageProduct", "VendorProduct")">Products</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="OrdersId" href="@Url.Action("Index","ManageVendorOrders")">Orders</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="PromotionId" href="@Url.Action("ManagePromotion", "Promotion")">Promotion</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="SettingId" href="javascript:void(0)">Setting</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="ml-auto">
                                <div class="dropdown">
                                    <div class="d-flex align-items-center " data-toggle="dropdown" role="button" id="userProfilebox">

                                    </div>

                                    <div class="dropdown-menu dropdown-menu-right navbar-drp">
                                        <a class="dropdown-item" id="profileId" href="@Url.Action("EditProfile","MyProfile")">Profile</a>
                                        <a class="dropdown-item" href="@Url.Action("ChangePassword","Authentication")" id="settingsId">Settings</a>
                                        <a class="dropdown-item" onclick="userLogout();" href="javascript:void(0)">Logout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>

            @RenderBody()


        </div>
    </div>

    <!-- Scripts -->
    <script src="~/Content/assets/js/jquery/jquery-3.6.0.min.js"></script>
    <script src="~/Content/assets/js/popper/popper.min.js"></script>
    <script src="~/Content/assets/js/bootstrap/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/daterangepicker/moment.min.js"></script>
    <script src="~/Content/assets/js/fancybox/jquery.fancybox.min.js"></script>
    <script src="~/Content/assets/js/jquery-repeater/jquery.repeater.js"></script>
    <script src="~/Content/assets/js/jquery-repeater/jquery.repeater.min.js"></script>

    <!-- Plugin Path -->
    <script>var plugin_path = '/Content/assets/js/';</script>

    <script src="~/Content/assets/js/sweetalert/sweetalert2.min.js"></script>
    <script src="~/Content/assets/js/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/Content/assets/js/daterangepicker/daterangepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>

    <!-- Custom JS -->
    <script src="~/Content/assets/js/main.js"></script>
    <script src="~/Content/YEP_VendorAPI/Pagination.js"></script>
    <script src="~/Content/assets/js/summernote/summernote.js"></script>
    <script src="~/Content/assets/js/summernote/summernote.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/v/bs4/dt-1.10.18/r-2.2.2/sl-1.3.0/datatables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>



</body>
</html>



